<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>381743404612-rj24j47lp53mbji6k8pevs6dgvcg7svd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.381743404612-rj24j47lp53mbji6k8pevs6dgvcg7svd</string>
	<key>API_KEY</key>
	<string>AIzaSyB-_KwxUOKUnvU8IwovZKtZg9msQy4JMQs</string>
	<key>GCM_SENDER_ID</key>
	<string>381743404612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappUi</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-backend-e6a6c</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-backend-e6a6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381743404612:ios:ce2bffee3518756c760e11</string>
</dict>
</plist>